﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.view-switcher {
    padding: 0.5em; 
    font-weight: normal;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input[type="text"].input-validation-error,
input[type="password"].input-validation-error {
    border: solid 1px #e80c4d;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}

.fixed {
  position: absolute;
    bottom: 0;
    height: 20px;
    width: 100%;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

canvas {
    image-rendering: optimizeSpeed;
    -webkit-interpolation-mode: nearest-neighbor;
    -ms-touch-action: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

:-webkit-full-screen #canvas {
    width: 100%;
    height: 100%;
}

div.gm4html5_div_class {
    margin: 0px;
    padding: 0px;
    border: 0px;
}
/* START - Login Dialog Box */
div.gm4html5_login {
    padding: 20px;
    position: absolute;
    border: solid 2px #000000;
    background-color: #404040;
    color: #00ff00;
    border-radius: 15px;
    box-shadow: #101010 20px 20px 40px;
}

div.gm4html5_cancel_button {
    float: right;
}

div.gm4html5_login_button {
    float: left;
}

div.gm4html5_login_header {
    text-align: center;
}
/* END - Login Dialog Box */
:-webkit-full-screen {
    width: 100%;
    height: 100%;
}