﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.game-pad {
    background-color: transparent;
    resize: both;
    width: 200px;
    height: 300px;
    max-height: 450px;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    color: white;
    padding-bottom: 20px;
}

.home-background {
    background: url('../Images/Home-Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.game-background {
    background: url('../Images/Parchment-Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.text-indent{
    margin-left:60px;
}
.paragraph-indent{
    margin-left:30px;
}


/*Game styles for script*/


canvas {
    image-rendering: optimizeSpeed;
    -webkit-interpolation-mode: nearest-neighbor;
    -ms-touch-action: none;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

:-webkit-full-screen #canvas {
    width: 100%;
    height: 100%;
}

div.gm4html5_div_class {

    margin: 0px;
    padding: 0px;
    border: 0px;
}
/* START - Login Dialog Box */
div.gm4html5_login {
    padding: 20px;
    position: absolute;
    border: solid 2px #000000;
    background-color: #404040;
    color: #00ff00;
    border-radius: 15px;
    box-shadow: #101010 20px 20px 40px;
}

div.gm4html5_cancel_button {
    float: right;
}

div.gm4html5_login_button {
    float: left;
}

div.gm4html5_login_header {
    text-align: center;
}
/* END - Login Dialog Box */
:-webkit-full-screen {
    width: 100%;
    height: 100%;
}
