﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Crypto Key Quest</h3>


<address>
    <strong>Support:</strong>   <a href="mailto:gamemanager@cryptokeyquest.com">gamemanager@cryptokeyquest.com</a><br />
</address>