﻿@{
    ViewBag.Title = "Home Page";
}
<body>

    <div class="jumbotron">
        <h1>Crypto Key Quest The Game</h1>
        <p class="lead">Learn Crypto through a fun filled quest!</p>
        <p><a href="~/Game/Index" class="btn btn-primary btn-lg">Play Now &raquo;</a></p>
    </div>

</body>