﻿@{
    ViewBag.Title = "Home Page";
}


<body class="home-background">
        <div style="height:580px">

            <div style="float:left;">
                <h1 style="color:white">Crypto Key Quest The Game</h1>

                <center><p class="lead" style="color:white;">Learn Crypto through a fun filled quest!</p></center>
                <center> <p><a href="~/Game/Index" class="btn btn-primary btn-lg" style="color:white;">Play Now &raquo;</a></p></center>
            </div>


            <div style="float:right;">
                <center><h1 style="color:white">(TEST VERSION)</h1></center>

                <center><p class="lead" style="color:white;">Learn Crypto through a fun filled quest!</p></center>
                <center> <p><a href="~/Game/TestGame" class="btn btn-primary btn-lg" style="color:white;">Play Now &raquo;</a></p></center>
            </div>

        </div>


    </body>

