﻿
@{
    ViewBag.Title = "Index";
}

<body>

    <div>
        <h1 class="text-center">Crypto Key Quest The Game</h1>


        <center>
           <h1>NOT SUPPORTED</h1>
        </center>


    </div>



</body>